<html>
  <head>
    <title>Plants</title>
  </head>
  <body>
  <h1>Plants</h1>
  <h3>Click here:</h3>
  <br>
  <a href=\ch0><button>CH0_ON</button></a>
  CH0 is {{ch0_status}}
  <br>
  <a href=\ch1><button>CH1_ON</button></a>
  CH1 is {{ch1_status}}
  <br>
  <a href=\ch2><button>CH2_ON</button></a>
  CH2 is {{ch2_status}}
  <br>
  <a href=\ch3><button>CH3_ON</button></a>
  CH3 is {{ch3_status}}
  <br>
  <a href=\ch4><button>CH4_ON</button></a>
  CH4 is {{ch4_status}}
  <br>
  <a href=\ch5><button>CH5_ON</button></a>
  CH5 is {{ch5_status}}
  <br>
  <a href=\ch6><button>CH6_ON</button></a>
  CH6 is {{ch6_status}}
  <br>
  <a href=\ch7><button>CH7_ON</button></a>
  CH7 is {{ch7_status}}
  <br>
  <a href=\ch8><button>CH8_ON</button></a>
  CH8 is {{ch8_status}}
  <br>
  <a href=\ch9><button>CH9_ON</button></a>
  CH9 is {{ch9_status}}
  <br>
  <a href=\ch10><button>CH10_ON</button></a>
  CH10 is {{ch10_status}}
  <br>
  <a href=\ch11><button>CH11_ON</button></a>
  CH11 is {{ch11_status}}
  <br>
  <a href=\ch12><button>CH12_ON</button></a>
  CH12 is {{ch12_status}}
  <br>
  <a href=\ch13><button>CH13_ON</button></a>
  CH13 is {{ch13_status}}
  <br>
  <a href=\ch14><button>CH14_ON</button></a>
  CH14 is {{ch14_status}}
  <br>
  <a href=\ch15><button>CH15_ON</button></a>
  CH15 is {{ch15_status}}
  <br>
  <a href=\off><button>OFF</button></a>
  </body>
</html>
